body{
  font-family: DM Sans;
  /* text-align: center; */
  margin: 5px;
}

@media (max-width: 430px)
{
  img{
    width: 20%;
  }
}


  img{
    width: 30%;
  }

* {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
  background-color: #1a1a1c;
  color: #fff;
}


.crypto-container {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: left;
} 

.text {
  margin-bottom: 32px;
  text-align: left;
}

.input {
  padding-left: 16px;
  max-width: 80%;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  color: #e2e2e2;
}

.input::placeholder {
  color: #e2e2e2;
} 

/* .crypto-container {
  display: flex;
  justify-content: center;
}

.crypto-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.crypto {
  display: flex;
  align-items: center;
  padding-right: 24px;

  min-width: 300px;
}
*/
.crypto h1 {
  font-size: 20px;
  width: 150px;
}
/*
.crypto img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}*/

.crypto-symbol {
  text-transform: uppercase;
}

/*
.crypto-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.crypto-price {
  width: 110px;
}

.crypto-marketcap {
  width: 230px;
}

.crypto-percent {
  width: 100px;
} */

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

/* 
@media (max-width: 430px)
{
  h4{
    font-size: 15px;
  }
  body{
    font-size: 10px;
  }
} */
